.app {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 360px;
}

.wrapper {
    width: 100%;
    max-width: 47rem;
    margin-top: -1.6875rem;
    padding: 0 12px;
}

.addNewTask {
    display: flex;

    height: 3.375rem;
    gap: 8px;
}

.addNewTask input {
    width: 100%;
    height: 100%;
    padding-left: 1rem;

    border-radius: 8px;
    border: 1px solid var(--gray-700);

    color: var(--gray-100);
    background-color: var(--gray-500);
}

.addNewTask input:focus {
    outline: transparent;
    box-shadow: 0 0 0 1px var(--purple-dark);
}

.addNewTask button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 6.625rem;
    height: 100%;
    gap: 8px;

    border: 0px;
    border-radius: 8px;

    font-size: 0.875rem;
    font-weight: bold;

    color: var(--gray-100);
    background-color: var(--blue-dark);

    transition: background-color 0.1s;
}

.addNewTask button:hover {
    background-color: var(--blue);
}

.tasksInfos {
    display: flex;
    justify-content: space-between;

    padding-bottom: 1.5rem;
    margin-top: 4rem;

    font-weight: bold;
}

.tasksInfos span {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 8px;

    font-size: 0.875rem;
}

.createdTasks {
    color: var(--blue);
}

.finishedTasks {
    color: var(--purple);
}

.taskListEmpty {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 4rem;
    
    border-radius: 8px;
    box-shadow: 0px -1px 0px 0px var(--gray-300);
    
    color: var(--gray-300);
}

.PlusCircle {
    font-size: 1.125rem;
}